
        .menu-background{
            -fx-background-color: black;
            -fx-content-display:center;
        }
        .title{
            -fx-font-family:Elephant;
            -fx-font-size: 40px;
            -fx-text-fill: white;
            -fx-stroke: firebrick;
            -fx-stroke-width: 2px;
        }
        .button-style{
            -fx-text-fill:white;
            -fx-font-size:20px ;
            -fx-border: 10px;
            -fx-background-color: Transparent;
            -fx-background-repeat:no-repeat;
            -fx-border: none;
        }
        .title2{
            -fx-font-family:Elephant;
            -fx-font-size: 20px;
            -fx-text-fill: white;
            -fx-stroke: firebrick;
            -fx-stroke-width: 2px;
        }
