
        .character-creation-background{
            -fx-background-color: #454545;
        }
        .title{
            -fx-font-family:Elephant;
            -fx-font-size: 60px;
            -fx-text-fill: white;
            -fx-stroke: firebrick;
            -fx-stroke-width: 2px;

        }
        .button-style{
            -fx-text-fill:white;
            -fx-font-size:35px ;
            -fx-border: 10px;
            -fx-background-color: transparent;
            -fx-background-repeat:no-repeat;
            -fx-border: none;
        }
        .button-style-character-creation{
            -fx-text-fill:white;
            -fx-font-size:35px ;
            -fx-border: 10px;
            -fx-background-color: transparent;
            -fx-background-repeat:no-repeat;
            -fx-border: black solid 2px;
        }
        .title2{
            -fx-font-family:Elephant;
            -fx-font-size: 45px;
            -fx-text-fill: white;
            -fx-stroke: firebrick;
            -fx-stroke-width: 2px;
        }
        .title3{
            -fx-font-family:Elephant;
            -fx-font-size: 30px;
            -fx-text-fill: white;
            -fx-stroke: firebrick;
            -fx-stroke-width: 2px;
        }